{% extends 'base.html' %}

{% block content %}
<div class="container my-5">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-4">Задание к лабораторной работе 2</h1>
            
            <p>Разработайте веб-приложение с использованием фреймворка Flask.</p>

            <p class="fw-bold">
                1. Отображение данных запроса.
            </p>

            <p>Добавьте в приложение страницы, на которых отображаются:</p>

            <ul class="my-3">
                <li>параметры URL,</li>
                <li>заголовки запроса,</li>
                <li>cookie,</li>
                <li>параметры формы.</li>
            </ul>

            <p>В качестве формы необходимо добавить форму авторизации. После того как в нее введены данные, эти данные выводяться на страницу.</p>

            <p class="fw-bold">
                2. Форма с обработкой ошибок.
            </p>

            <p>
                Создайте страницу с формой для ввода номера телефона. 
                Форма должна состоять из текстового поля и кнопки «Проверить». 
                По нажатию на кнопку данные формы должны отправляться на сервер при помощи метода POST.
            </p>

            <p>На стороне сервера необходимо реализовать проверку, что в поле введён номер телефона заданного формата:</p>

            <ul class="my-3">
                <li>имеет длину 10-11 цифр;</li>
                <li>может содержать дополнительные символы: пробелы, круглые скобки, дефисы, точки, +.</li>
            </ul>

            <p>Если номер не соответствует формату – выводить сообщение об ошибке. Сообщение об ошибке должно быть разным в зависимости от типа ошибки:</p>

            <ul class="my-3">
                <li>«Недопустимый ввод. Неверное количество цифр.» – если в номере не 10 или 11 цифр (номер должен содержать 11 цифр если он начинается с «+7» или «8», в остальных случаях – 10 цифр),</li>
                <li>«Недопустимый ввод. В номере телефона встречаются недопустимые символы.» – если в номере встречаются другие символы помимо цифр и приведённых выше дополнительных символов.</li>
            </ul>

            <p>Проверку на другие типы ошибок (не приведённые выше) проводить не нужно.</p>

            <p>В случае обнаружения ошибки использовать использовать стандартные классы фреймворка Bootstrap:</p>

            <ul class="my-3">
                <li>класс is-invalid для подсвечивания поля формы,</li>
                <li>класс invalid-feedback для контейнера с текстом сообщения об ошибке.</li>
            </ul>

            <p>
                Подробнее об этих классах можно почитать 
                <a href="https://getbootstrap.com/docs/5.1/forms/validation/" target="_blank">в документации.</a>
            </p>

            <p>
                Преобразовывать введённый номер к формату 8-***-***-**-** и выводить. Ниже представлены примеры допустимых форматов ввода номера телефона.
            </p>

            <ul class="my-3">
                <li>+7 (123) 456-75-90</li>
                <li>8(123)4567590</li>
                <li>123.456.75.90</li>
            </ul>

        </div>
    </div>

</div>
{% endblock %}