{% extends 'base.html' %}

{% block content %}
<div class="container my-5">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="mb-4">Задание к лабораторной работе 3</h1>
            
            <p>Разработайте веб-приложение с использованием фреймворка Flask. Приложение должно предоставлять следующий функционал.</p>

            <p class="fw-bold">
                1. Страница "Счётчик посещений"
            </p>

            <p>
                На данной странице пользователю должно отображаться сообщение, содержащее информацию о количестве посещений им данной страницы. 
                Реализуйте этот функционал с помощью глобального объекта session.
            </p>

            <p class="fw-bold">
                2. Аутентификация пользователей
            </p>

            <p>
                Реализуйте механизм аутентификации пользователей с использованием библиотеки Flask-Login. Добавьте в приложение страницу с формой для ввода логина и пароля. 
                Также на форме должен присутствовать чекбокс "Запомнить меня", реализующий функционал сохранения данных сессии после закрытия браузера. 
                Добавьте в приложение пользователя с логином "user" и паролем "qwerty". После удачной аутентификации пользователь должен быть перенаправлен на главную страницу, где ему должно быть отображено сообщение об успешном входе. 
                В случае некорректного ввода пользователь должен остаться на странице с формой, где ему должно быть отображено сообщение о неверно введённых данных.
            </p>
        
            <p class="fw-bold">
                3. "Секретная страница"
            </p>


            <p>
                Добавьте в приложение страницу, к которой имеют доступ только аутентифицированные пользователи. Добавьте в навбар ссылку на данную страницу. 
                Ссылка должна отображаться только для аутентифицированных пользователей. В случае, если неаутентифицированный пользователь попробует получить доступ к данной странице, 
                он должен быть перенаправлен на страницу входа с сообщением о том, что для доступа к запрашиваемой странице необходимо пройти процедуру аутентификации. 
                После прохождения аутентификации пользователь автоматически должен быть перенаправлен на запрашиваемую ранее страницу.
            </p>

            {% if current_user.is_authenticated %}
                <div class="alert alert-success mt-4">
                    Вы вошли как: <strong>{{ current_user.username }}</strong>
                </div>
            {% else %}
                <div class="alert alert-warning mt-4 d-flex justify-content-between align-items-center">
                    <div>
                        Для доступа к <strong>секретной странице</strong> необходима авторизация
                    </div>
                    <a href="{{ url_for('auth_page') }}" class="btn btn-primary">
                        Войти
                    </a>
                </div>
            {% endif %}


        </div>
    </div>

</div>
{% endblock %}